
#menuContent{
    width: 100VW;
    top: 0;
    height: 100vh;
    right: 0;
    z-index: 8999999;
    margin-top: 5.5vh;
    background-color: #fff;
    position: absolute;
    transition: all .5s ease;
}

@keyframes closeMenu {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
        overflow: hidden;
    }
}
.closeMenu{
    white-space: nowrap;
    animation: closeMenu .5s ease-in-out forwards;
}

#menuContent nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstOption{
    margin-top: 60px;
}

.option{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 39px;
    border-radius: 8px;
    background-color: hsl(221.44deg 94.17% 59.61% / 91%);
    margin-bottom: 20px;
}

.option a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}